@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.dark.less';

@theme: #61dafb;
@primary-color: @theme;
// Layer background
@popover-background: #1f1f1f;
@body-background: #212121;
@component-background: #141414;

// Menu
// ---
// dark theme
@menu-dark-inline-submenu-bg: transparent;
@menu-dark-bg: transparent;
@menu-popup-bg: @popover-background;

@menu-dark-item-active-bg: transparent;

@menu-dark-highlight-color: @theme;
@menu-dark-selected-item-icon-color: @theme;
@menu-dark-selected-item-text-color: @theme;
